/* GENERAL STYLES */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: #3F94E7;
}

p,
h1 {
	text-align: center;
}



/* HEADER and LOGO STYLES */

.logo-container {
	height: 75px;
	margin-top: -10px;
	padding-top: 35px;
}

.logo {
	display: block;
	margin: 0 auto;
	height: 35px;
}



/* MAIN STYLES */

main {
	margin: 0 auto;
}



/* FORM STYLES */

h1 {
	font-weight: normal;
	color: #736557;
	padding: 30px 0;
}

.signup-form,
.input,
.btn {
	border-radius: 3px;
}

.signup-form {
	background-color: #fff;
	width: 400px;
	padding: 0 40px;
	margin: 0 auto;
}

.signup {
	border: 0;
	margin-left: -10px;
}

.input,
.btn {
	width: 320px;
	height: 55px;
	padding: 15px;
}

.input {
	border: 2px solid #C0C0C0;
	margin: 15px 0;
}

.btn {
	background-color: #65C470;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border: 0;
	margin-top: 15px;
}

.btn-sxn {
	padding-bottom: 20px;
}



/* LAST SECTION STYLES */

.last-para p,
.last-para p a {
	color: #fff;
	font-weight: bold;
	padding-top: 15px;
}



/* FORM PSEUDO-CLASSES */

.input:hover {
	background-color: rgba(200, 0, 30, 0.1);
	border: 2px solid #000;
}

.input:focus {
	border: 1px solid blue;
}

.login a:link,
.login a:visited {
	color: #C0C0C0;
}

.login a:hover,
.login a:active {
	color: blue;
}

.btn:hover {
	background-color: #006400;
}